Source: ruby-baze
Section: ruby
Priority: optional
Maintainer: Pierre Carrier <pierre@spotify.com>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.7~)
Standards-Version: 3.9.2
Homepage: https://github.com/pcarrier/baze
XS-Ruby-Versions: all

Package: ruby-baze
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: A set of base utilities for POSIX system
 Minimalistic utilities written in Ruby for POSIX systems.
